{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-3">Your tasks</h1>

        {% if tasks is empty %}
            <p>No tasks assigned to you yet.</p>
        {% else %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Updated at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.name }}</td>
                            <td>{{ task.status.value }}</td>
                            <td>{{ task.createdAt|date('Y-m-d H:i') }}</td>
                            <td>{{ task.updatedAt|date('Y-m-d H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

